<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'body_header.html' %}
    <h1>{{title}}</h1>
    <ul>
        <li><a style="color:pink;" href="/">About</a></li>
        <li><a style="color:red;" href="/about">Time</a></li>
        <li><a style="color:green;" href="/todo">Todo</a></li>
        <li><a style="color:black;" href="/city">Country</a></li>

    </ul>  
    <h1 style="color:green;">welcome to my blog</h1>

    <script
        src="/static/bootstrap-5.0.1-dist/js/bootstrap.js"
    >
    </script>
</body>
</html>