<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my wallet</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/time">Time</a></li>
    </ul>    
    <ul>
   <li>название кошелка: {{wallet.name}} </li>
   <li>summa: {{wallet.currency}}</li>
    <li>valuta:{{wallet.account}} </li>
    <li>valuta:{{wallet.money}} </li>
    </ul>
</body>
</html>